<div class="row">
  <div class="column left ml-5">
    <video width="850" controls>
      <source src="C:\Users\ADMIN\Downloads\sample 1.mp4" type="video/mp4">
      <source src="C:\Users\ADMIN\Downloads\sample 1.ogg" type="video/ogg">
      Your browser does not support the video tag.
    </video>

    <div class="column right ">
      <div class="card">
        <div class="card-body ">
          <button type="button" class="btn btn-primary btn-lg">MEMBERSHIP</button>
          <hr>
          <button type="button" class="btn btn-secondary btn-lg">PREMIUM MEMBERSHIP</button>

        </div>
      </div>
      <br>
      <br>
      <br>
      <div class="card">
        <div class="card-body">
          <div class="btn-group" width="50%">
            <button class="btn btn-success btn-lg" type="button">
              java programming
            </button>
            <button type="button" class="btn btn-lg btn-success dropdown-toggle dropdown-toggle-split"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="sr-only">Toggle Dropdown</span>
            </button>

            <div class="dropdown-menu">
              <video class="dropdown-item" width="50%" controls>
                <source src="movie.mp4" type="video/mp4">
                <source src="movie.ogg" type="video/ogg">
                Your browser does not support the video tag.
              </video>
              <video class="dropdown-item" width="50%" controls>
                <source src="movie.mp4" type="video/mp4">
                <source src="movie.ogg" type="video/ogg">
                Your browser does not support the video tag.
              </video>
              <video class="dropdown-item" width="50%" controls>
                <source src="movie.mp4" type="video/mp4">
                <source src="movie.ogg" type="video/ogg">
                Your browser does not support the video tag.
              </video>
            </div>

          </div>
          <br>
          <div class="btn-group" width="50%">
            <button class="btn btn-danger btn-lg" type="button">
              c plus programming
            </button>
            <button type="button" class="btn btn-lg btn-danger dropdown-toggle dropdown-toggle-split"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="sr-only">Toggle Dropdown</span>
            </button>

            <div class="dropdown-menu">
              <video class="dropdown-item" width="50%" controls>
                <source src="movie.mp4" type="video/mp4">
                <source src="movie.ogg" type="video/ogg">
                Your browser does not support the video tag.
              </video>
              <video class="dropdown-item" width="50%" controls>
                <source src="movie.mp4" type="video/mp4">
                <source src="movie.ogg" type="video/ogg">
                Your browser does not support the video tag.
              </video>
              <video class="dropdown-item" width="50%" controls>
                <source src="movie.mp4" type="video/mp4">
                <source src="movie.ogg" type="video/ogg">
                Your browser does not support the video tag.
              </video>
            </div>

          </div>
          <br>
          <div class="btn-group" width="50%">
            <button class="btn btn-secondary btn-lg" type="button">
              phython programming
            </button>
            <button type="button" class="btn btn-lg btn-secondary dropdown-toggle dropdown-toggle-split"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="sr-only">Toggle Dropdown</span>
            </button>

            <div class="dropdown-menu">
              <video class="dropdown-item" width="50%" controls>
                <source src="movie.mp4" type="video/mp4">
                <source src="movie.ogg" type="video/ogg">
                Your browser does not support the video tag.
              </video>
              <video class="dropdown-item" width="50%" controls>
                <source src="movie.mp4" type="video/mp4">
                <source src="movie.ogg" type="video/ogg">
                Your browser does not support the video tag.
              </video>
              <video class="dropdown-item" width="50%" controls>
                <source src="movie.mp4" type="video/mp4">
                <source src="movie.ogg" type="video/ogg">
                Your browser does not support the video tag.
              </video>
            </div>

          </div>
          <br>
          <div class="btn-group" width="50%">
            <button class="btn btn-primary btn-lg" type="button">
              java advanced programming
            </button>
            <button type="button" class="btn btn-lg btn-primary dropdown-toggle dropdown-toggle-split"
              data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <span class="sr-only">Toggle Dropdown</span>
            </button>

            <div class="dropdown-menu">
              <video class="dropdown-item" width="50%" controls>
                <source src="movie.mp4" type="video/mp4">
                <source src="movie.ogg" type="video/ogg">
                Your browser does not support the video tag.
              </video>
              <video class="dropdown-item" width="50%" controls>
                <source src="movie.mp4" type="video/mp4">
                <source src="movie.ogg" type="video/ogg">
                Your browser does not support the video tag.
              </video>
              <video class="dropdown-item" width="50%" controls>
                <source src="movie.mp4" type="video/mp4">
                <source src="movie.ogg" type="video/ogg">
                Your browser does not support the video tag.
              </video>
            </div>
          </div>

        </div>





      </div>
    </div>
  </div>

  <div class="column left">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="card" style="width: 50rem;">
      <div class="card-body">
        <h5 class="card-title">instructer</h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's
          content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>

</div>